<div class="month">
  <ul>
    <li (click)="prevClick()" class="prev">&#10094;</li>
    <li (click)="nextClick()" class="next">&#10095;</li>
    <li>Meeting Room<br><span style="font-size:18px">{{weekDays[0].date | date:'MM.yyyy'}}</span></li>
  </ul>
</div>

<table>
  <td *ngFor="let day of weekDays">
    {{day.dayName}}
    <br>
    {{day.date | date:'dd.MM.yyy'}}
    <hr>
    <div *ngFor="let meet of meetings">
        <div (click)="showInfo(meet)" class="meet" *ngIf="(belongsToDay(meet.date, day.date.valueOf()))">
          {{meet.date | date:"HH:mm"}}
          {{meet.initiator}}
        </div>
    </div>
  </td>
</table>



