TABLE {
  border-collapse: collapse; /* Убираем двойные линии между ячейками */
  width: auto;
}
TD, TR {
  padding: 3px; /* Поля вокруг содержимого таблицы */
  border: 1px solid #1abc9c; /* Параметры рамки */
  text-align: center; /* Выравнивание по левому краю */
}
input{
  border: none;
}

a{
  color: #FAFAFA;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
  height: 40px;
}
a:hover{
  color:  #1abc9c;
}
.divButton {
  border: 2px solid #e7eeea;
  border-radius: 5px;
  width: max-content;
  background: #1abc9c;
  float: left;
  cursor: pointer;
}
.divButton:hover{
  background: #FAFAFA;
}
