<div class="login">
  <form (submit)="login()" *ngIf="isLogin == false; else elseBlock" [formGroup]="authorizationForm">
    <table>
      <caption>Введите логин/пароль</caption>
      <tr>
        <td>Логин</td>
        <td><input formControlName="username" placeholder="****" value="" ></td>
      </tr>
      <tr>
        <td>Пароль</td>
        <td><input type = "password" formControlName="password" placeholder="****" value=""></td>
      </tr>
    </table>
    <button   *ngIf="authorizationForm.valid"
              type="submit"
              (click)="login()"
              class="button"
    >Войти</button>
  </form>

  <ng-template #elseBlock>
    <app-user [user]="user"></app-user>
    <button (click)="logOut()" class="button">Выйти</button>
  </ng-template>

</div>
<br>
