<form [formGroup]="meetingForm">
  <table>
    <caption style="">Заполните форму</caption>
    <tr>
      <td>Дата, время</td>
      <td><input formControlName="meetingDate" placeholder="YYYY.MM.DD hh:mm" value="" ></td>
      <td> <app-form-error [control]="meetingForm.controls.meetingDate"></app-form-error></td>
    </tr>
    <tr>
      <td>Имя бронирующего</td>
      <td><input formControlName="initiator" placeholder="Имя" value=""></td>
      <td> <app-form-error [control]="meetingForm.controls.initiator"></app-form-error></td>
    </tr>
    <tr>
      <td>Продолжительность, мин.</td>
      <td><input formControlName="estimatedTime" placeholder="Минут" value=""></td>
      <td><app-form-error [control]="meetingForm.controls.estimatedTime"></app-form-error></td>
    </tr>
  </table>
  <br>
  <div class="divButton">
    <a routerLink="">К календарю</a>
  </div>
  <div *ngIf="meetingForm.valid" class="divButton">
    <a (click)="addMeetingEvent()">Добавить</a>
  </div>
</form>
