TABLE {
  width: 300px; /* Ширина таблицы */
  border-collapse: collapse; /* Убираем двойные линии между ячейками */
  width: auto;
}
TD, TR {
  padding: 3px; /* Поля вокруг содержимого таблицы */
  border: 1px solid #1abc9c; /* Параметры рамки */
  text-align: center; /* Выравнивание по левому краю */
}
