TABLE {
  width: auto;
  background-color: #eaeaea;
  border: 2px solid #1abc9c;
  border-radius: 5px;
}
TD, TR {
  padding: 3px;
  border: 1px solid #1abc9c;
  text-align: center;
}
input{
  border: none;
  background-color: #eaeaea;
}
input:hover{
  background-color: #b5b5b5;
}

a{
  color: #FAFAFA;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
  height: 40px;
}
a:hover{
  color:  #1abc9c;
}
.divButton {
  border: 2px solid #e7eeea;
  border-radius: 5px;
  width: max-content;
  background: #1abc9c;
  float: left;
  cursor: pointer;
}
.divButton:hover{
  background: #FAFAFA;
}

.button{
  background: #2ad4b6;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  border-color: white;
  color: white;
  font-size: 18px;
  font-family: Verdana, sans-serif;

}
.button:hover{
  background: #80e28f;
  cursor: pointer;
}

