<p>Добавить бронирование</p>
<form (submit)="addMeetingEvent()" [formGroup]="meetingForm">
  <label> Дата, время:
    <input formControlName="meetingDate" placeholder="YYYY.MM.DD hh:mm" value="" >
    <app-form-error [control]="meetingForm.controls.meetingDate"></app-form-error>
  </label>
  <label> Инициатор:
    <input formControlName="initiator" placeholder="Имя" value="">
    <app-form-error [control]="meetingForm.controls.initiator"></app-form-error>
  </label>
  <label> Продолжительность:
    <input formControlName="estimatedTime" placeholder="Минут" value="">
    <app-form-error [control]="meetingForm.controls.estimatedTime"></app-form-error>
  </label>
  <button type="submit">Добавить</button><br>
</form>
<hr>


<!--<p> Таблица бронирований</p>-->
<!--<table *ngFor="let meeting of meetings">-->
<!--  <tr>-->
<!--    <td>-->
<!--      {{meeting.date| date: 'dd.MM.yyyy HH:mm' }}-->
<!--    </td>-->
<!--    <td>-->
<!--      {{meeting.initiator}}-->
<!--    </td>-->
<!--    <td>-->
<!--      {{meeting.estimatedTime}}-->
<!--    </td>-->
<!--  </tr>-->
<!--</table>-->

<!--<button (click)="logAllMeetings()">LOG</button>-->
<!--<button (click)="clearMeetings()">Clear</button>-->

